[submodule "LiteMath"]
	path = external/LiteMath
	url = https://github.com/msu-graphics-group/LiteMath.git
[submodule "vk-utils"]
	path = external/vk-utils
	url = https://github.com/msu-graphics-group/vk-utils.git
[submodule "volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
[submodule "json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
